.genre-button {
  position: relative;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.45);
  transition: box-shadow 0.3s ease, filter 0.3s ease; 
  z-index: 1;
}


.genre-button:hover {
  filter: brightness(70%); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.007), 0 0 15px 5px var(--hover-color); 
}


.genre-button[data-hover-color]:hover {
  --hover-color: attr(data-hover-color color);
}