.text {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  margin-top: 5%;
  text-shadow: 1px 1px 2px rgba(95, 95, 95, 0.7);
}

.MyHeader{
    height: 20%;
}