.now-playing {
  width: 100%;
  color: #ffffff;

  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  

  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: blue;
}

/* Анимация бегущей строки */
.now-playing-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}