.player-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  gap: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
}


.blue-screen {
  flex: 0 0 60%;  
  display: flex;
  height: 20%;
  border: 2px solid #c0c0c0;
  border-radius: 6px;
  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.5),
    inset 0 -2px 2px rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

/* Правая часть — колесико и кнопки */
.switches {
  flex: 0 0 40%; /* оставшиеся 40% */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}


.switches .wheel-selector {
  width: 120px;
  height: 120px;
}

.switches button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
}

.switches button:hover {
  color: none;
}

.switches input[type="range"] {
  width: 100px;
}