.player-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  gap: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
}

/* Левая часть — NowPlaying */
.now-playing {
  flex: 0 0 60%;  
  display: flex;
  align-items: center;
}

/* Правая часть — колесико и кнопки */
.switches {
  flex: 0 0 40%; /* оставшиеся 40% */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}


.switches .wheel-selector {
  width: 120px;
  height: 120px;
}

.switches button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
}

.switches button:hover {
  color: none;
}

.switches input[type="range"] {
  width: 100px;
}