.wheel-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 100px;
  height: 100px;
}

.wheel {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: grab;
}

.wheel-image{
  width: 100%;
  height: 100%;
}